<table>
    <tr>
        <th>Emisor</th>
        <th>Título</th>
    </tr>
    <tr *ngFor="let correo of listaCorreos; index as i">
        <td>
            <!-- <p *ngIf="correo.leido">Leido</p>
                <p *ngIf="!correo.leido">No leido</p> -->
                <input type="radio" name="leido-{{i}}" [(ngModel)]="correo.leido" [value]=true>Si
                <input type="radio" name="leido-{{i}}" [(ngModel)]="correo.leido" [value]=false>No
            </td>
        <td>{{correo.emisor}}</td>
        <td>{{correo.titulo}}</td>
    </tr>
</table>
<div *ngFor="let correo of listaCorreos">
    <h2>Estado de {{correo.titulo}}</h2>
    <h3 *ngIf="correo.leido">Si</h3>
    <h3 *ngIf="!correo.leido">No</h3>
</div>